// Color
color-background = #101010
color-card = #151515
color-font = #f0f0f0
color-meta = #888
color-border = #252525
color-link = #2196f3
color-title = #f0f0f0
color-hover = #333
color-quote = #555
// Font
font-default = Roboto,'Noto Sans CJK SC','Helvetica Neue',Helvetica,'Nimbus Sans L',Arial,'Liberation Sans','Hiragino Sans GB','Source Han Sans CN','Source Han Sans SC','Microsoft YaHei','Wenquanyi Micro Hei','WenQuanYi Zen Hei','ST Heiti',SimHei,'WenQuanYi Zen Hei Sharp',sans-serif
font-serif = "Noto Serif CJK SC", "Georgia", serif
font-mono = "Lucida Console", Consolas, Monaco, Menlo, monospace
font-title = Roboto,'Noto Sans CJK SC','Helvetica Neue',Helvetica,'Nimbus Sans L',Arial,'Liberation Sans','Hiragino Sans GB','Source Han Sans CN','Source Han Sans SC','Microsoft YaHei','Wenquanyi Micro Hei','WenQuanYi Zen Hei','ST Heiti',SimHei,'WenQuanYi Zen Hei Sharp',sans-serif

// @import url("//fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Roboto")

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 1200px